<h1><center><font color="cc5500"> MONARCH MIGRATION 1994 - 2001</font></center></h1>

In [10]:
import plotly as py
import plotly.graph_objs as go
import pandas as pd
import sqlite3
import os
from IPython.display import IFrame, HTML
CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [11]:
db = sqlite3.connect("Monarchs.db")

### Read pkl for each year

In [12]:
monarchs2001 = pd.read_pickle("Data\Monarchs2001.pkl")
monarchs2000 = pd.read_pickle("Data\Monarchs2000.pkl")
monarchs1999 = pd.read_pickle("Data\Monarchs1999.pkl")
monarchs1998 = pd.read_pickle("Data\Monarchs1998.pkl")
monarchs1997 = pd.read_pickle("Data\Monarchs1997.pkl")
monarchs1996 = pd.read_pickle("Data\Monarchs1996.pkl")
monarchs1995 = pd.read_pickle("Data\Monarchs1995.pkl")
monarchs1994 = pd.read_pickle("Data\Monarchs1994.pkl")

### Convert pandas to SQL table

In [13]:
monarchs2001.to_sql("Monarchs2001", db, if_exists="replace")
monarchs2000.to_sql("monarchs2000", db, if_exists="replace")
monarchs1999.to_sql("monarchs1999", db, if_exists="replace")
monarchs1998.to_sql("monarchs1998", db, if_exists="replace")
monarchs1997.to_sql("monarchs1997", db, if_exists="replace")
monarchs1996.to_sql("monarchs1996", db, if_exists="replace")
monarchs1995.to_sql("monarchs1995", db, if_exists="replace")
monarchs1994.to_sql("monarchs1994", db, if_exists="replace")

os.getcwd()

C:\Users\Arink\Anaconda3\lib\site-packages\pandas\core\generic.py:2663: UserWarning:

The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

'C:\\Users\\Arink\\Desktop\\github\\CodeLou\\Monarchs'

### View Schema 
##### All CSVs have same columns (Previously cleaned in DATA folder)

In [14]:
data_type = pd.read_sql('SELECT * FROM PRAGMA_TABLE_INFO("monarchs2001")', db)
data_type

   cid            name       type  notnull dflt_value  pk
0    0           index    INTEGER        0       None   0
1    1         Tag No.       TEXT        0       None   0
2    2       Tag State       TEXT        0       None   0
3    3        Tag Date  TIMESTAMP        0       None   0
4    4    Report State       TEXT        0       None   0
5    5  Report Country       TEXT        0       None   0
6    6     Report Date  TIMESTAMP        0       None   0
7    7           Miles       REAL        0       None   0
8    8          Season       TEXT        0       None   0

## <img src="tag2.jpg" style="width:400px;height:350px"/>

### Combine all years

In [15]:
combine =  pd.concat([monarchs2001, monarchs2000, monarchs1999, monarchs1998, monarchs1997, monarchs1996, monarchs1995, monarchs1994], axis =0)
#combine.columns = ["tag_no", "tag_state", "tag_date","report_state", "report_country", "report_date", "miles"]
#combine["Tag Date"] = combine["Tag Date"].astype(str)
combine.to_sql("combine", db, if_exists="replace")

C:\Users\Arink\Anaconda3\lib\site-packages\pandas\core\generic.py:2663: UserWarning:

The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

#### How many tags were recovered from each state & How many tags did each state recover

In [16]:
tag_tally = pd.read_sql('SELECT `Tag State`, COUNT(*) AS "Recovered Tags" FROM combine GROUP BY `Tag State` ORDER BY `Recovered Tags`DESC', db)
recover_tally = pd.read_sql('SELECT `Report State`, COUNT(*) AS "Reported Tags" FROM combine GROUP BY `Report State` ORDER BY `Reported Tags`DESC', db)
tag_tally.loc[tag_tally['Tag State'].isnull(), 'Tag State'] = 'Unknown Origin'
recover_tally.loc[recover_tally['Report State'].isnull(), 'Report State'] = 'Unknown'
display(tag_tally.head(10))
display(recover_tally.head(10))

        Tag State  Recovered Tags
0              KS             776
1              IA             573
2              MN             479
3              TX             388
4              OK             185
5  Unknown Origin             170
6              SD             133
7              NE             119
8              IL             100
9              OH              91

  Report State  Reported Tags
0    Michoacán           3263
1       Mexico             56
2           TX             54
3           KS             48
4           MN             36
5           NY             30
6           NJ             28
7           PA             22
8           IA             17
9           FL             16

### Number of Recovered Monarch Butterflies per State and Season

In [17]:
#2001
monarchs2001_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs2001 GROUP BY `Tag State`', db)
monarchs2001_tally.loc[monarchs2001_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'
#2000
monarchs2000_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs2000 GROUP BY `Tag State`', db)
monarchs2000_tally.loc[monarchs2000_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'
#1999
monarchs1999_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs1999 GROUP BY `Tag State`', db)
monarchs1999_tally.loc[monarchs1999_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'
#1998
monarchs1998_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs1998 GROUP BY `Tag State`', db)
monarchs1998_tally.loc[monarchs1998_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'
#1997
monarchs1997_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs1997 GROUP BY `Tag State`', db)
monarchs1997_tally.loc[monarchs1997_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'
#1996
monarchs1996_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs1996 GROUP BY `Tag State`', db)
monarchs1996_tally.loc[monarchs1996_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'
#1995
monarchs1995_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs1995 GROUP BY `Tag State`', db)
monarchs1995_tally.loc[monarchs1995_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'
#1994
monarchs1994_tally = pd.read_sql('SELECT `Tag State` AS tag_state, COUNT(*) AS "recovered_tags" FROM monarchs1994 GROUP BY `Tag State`', db)
monarchs1994_tally.loc[monarchs1994_tally['tag_state'].isnull(), 'tag_state'] = 'Unknown Origin'

In [27]:

trace1 = go.Scatter(
                    x = monarchs2001_tally.tag_state,
                    y = monarchs2001_tally.recovered_tags,
                    mode = "lines",
                    name = "2001 Season",
                    marker = dict(color = 'rgba(16, 112, 2, 0.8)'),
                    
trace2 = go.Scatter(
                    x = monarchs2000_tally.tag_state,
                    y = monarchs2000_tally.recovered_tags,
                    mode = "lines",
                    name = "2000 Season",
                    marker = dict(color = 'rgba(16, 112, 2, 0.8)'),
    
data = [trace1, trace2]
lyt = dict(title = 'Monarch Butterflies Recovered Each Season',
              xaxis= dict(title= 'Tag State', ticklen= 5, zeroline= True)
              )
fig = dict(data = data, layout = layout)
iplot(fig)

SyntaxError: invalid syntax (<ipython-input-27-6fb28ed3d949>, line 16)

In [19]:
data = dict (
    type = 'choropleth',
    locations = tag_tally['Tag State'],
    locationmode='USA-states',
    autocolorscale = False,
    colorscale = ['Rainbow'],
    z=tag_tally['Recovered Tags'])


lyt = dict(geo=dict(scope='north america'))
map = go.Figure(data=[data], layout = lyt)
py.offline.plot(map)

'file://C:\\Users\\Arink\\Desktop\\github\\CodeLou\\Monarchs\\temp-plot.html'

### Embed Power BI maps, showing Tag Origin and Report Locations, as well as travel.
#### Page 1 shows Tag Origin Locations and Tag Report Locations. Page 2 shows travel for all seasons.

In [ ]:
powerBiEmbed = 'https://app.powerbi.com/reportEmbed?reportId=96d602f4-ad60-4a7b-96b0-a92b0913e382&autoAuth=true&ctid=f2e33951-1ec4-4c72-b2bf-a4f4671d64af&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtYy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9'
IFrame(powerBiEmbed, width=1000, height=600)