In [2]:
import pandas as pd
import sqlite3
import os

In [3]:
db = sqlite3.connect("Monarchs.db")

In [5]:
df = pd.read_csv(r".\tabula-2001 Season Summary.csv", header=1)

        #convert pandas to SQL table
df.to_sql("monarchs_2001", db, if_exists="replace")

os.getcwd

C:\Users\Arink\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [7]:
schema = pd.read_sql('SELECT * FROM sqlite_master ORDER by name', db)
schema

,type,name,tbl_name,rootpage,sql
0,index,ix_monarchs_2001_index,monarchs_2001,3,"CREATE INDEX ""ix_monarchs_2001_index""ON ""monar..."
1,table,monarchs_2001,monarchs_2001,2,"CREATE TABLE ""monarchs_2001"" (\n""index"" INTEGE..."