# MONARCH MIGRATION 1994 - 2001

In [44]:
import plotly as py
import plotly.graph_objs as go
import pandas as pd
import sqlite3
import os
from IPython.display import IFrame
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [45]:
db = sqlite3.connect("Monarchs.db")

### Read CSV for each year

In [46]:
monarchs2001 = pd.read_pickle("Data\Monarchs2001.pkl")
monarchs2000 = pd.read_pickle("Data\Monarchs2000.pkl")
monarchs1999 = pd.read_pickle("Data\Monarchs1999.pkl")
monarchs1998 = pd.read_pickle("Data\Monarchs1998.pkl")
monarchs1997 = pd.read_pickle("Data\Monarchs1997.pkl")
monarchs1996 = pd.read_pickle("Data\Monarchs1996.pkl")
monarchs1995 = pd.read_pickle("Data\Monarchs1995.pkl")
monarchs1994 = pd.read_pickle("Data\Monarchs1994.pkl")

### Convert pandas to SQL table

In [47]:
monarchs2001.to_sql("Monarchs2001", db, if_exists="replace")
monarchs2000.to_sql("monarchs2000", db, if_exists="replace")
monarchs1999.to_sql("monarchs1999", db, if_exists="replace")
monarchs1998.to_sql("monarchs1998", db, if_exists="replace")
monarchs1997.to_sql("monarchs1997", db, if_exists="replace")
monarchs1996.to_sql("monarchs1996", db, if_exists="replace")
monarchs1995.to_sql("monarchs1995", db, if_exists="replace")
monarchs1994.to_sql("monarchs1994", db, if_exists="replace")

os.getcwd()

C:\Users\Arink\Anaconda3\lib\site-packages\pandas\core\generic.py:2663: UserWarning:

The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

'C:\\Users\\Arink\\Desktop\\github\\CodeLou\\Monarchs'

### View Schema 
##### All CSVs have same columns (Previously cleaned in DATA folder)

In [48]:
data_type = pd.read_sql('SELECT * FROM PRAGMA_TABLE_INFO("monarchs2001")', db)
data_type

   cid            name       type  notnull dflt_value  pk
0    0           index    INTEGER        0       None   0
1    1         Tag No.       TEXT        0       None   0
2    2       Tag State       TEXT        0       None   0
3    3        Tag Date  TIMESTAMP        0       None   0
4    4    Report State       TEXT        0       None   0
5    5  Report Country       TEXT        0       None   0
6    6     Report Date  TIMESTAMP        0       None   0
7    7           Miles       REAL        0       None   0
8    8          Season       TEXT        0       None   0

### Combine all years

In [53]:
combine =  pd.concat([monarchs2001, monarchs2000, monarchs1999, monarchs1998, monarchs1997, monarchs1996, monarchs1995, monarchs1994], axis =0)
#combine.columns = ["tag_no", "tag_state", "tag_date","report_state", "report_country", "report_date", "miles"]
#combine["Tag Date"] = combine["Tag Date"].astype(str)
combine.to_sql("combine", db, if_exists="replace")

In [54]:
tag_tally = pd.read_sql('SELECT `Tag State`, COUNT(*) AS "Recovered Tags" FROM combine GROUP BY `Tag State` ORDER BY `Recovered Tags`DESC', db)
#recover_tally = pd.read_sql('SELECT `Report State`, COUNT(*) AS "Recovered Tags" FROM monarchs1994 GROUP BY `Report State` ORDER BY `Report State`', db)

In [55]:
data = dict (
    type = 'choropleth',
    locations = tag_tally['Tag State'],
    locationmode='USA-states',
    autocolorscale = False,
    colorscale = ['Rainbow'],
    z=state_tally['Recovered Tags'])


lyt = dict(geo=dict(scope='north america'))
map = go.Figure(data=[data], layout = lyt)
py.offline.plot(map)

'file://C:\\Users\\Arink\\Desktop\\github\\CodeLou\\Monarchs\\temp-plot.html'

### Embed Power BI maps, showing Tag Origin and Report Locations, as well as travel.
#### Page 1 shows Tag Origin Locations and Tag Report Locations. Page 2 shows travel for all seasons.

In [56]:
powerBiEmbed = 'https://app.powerbi.com/reportEmbed?reportId=96d602f4-ad60-4a7b-96b0-a92b0913e382&autoAuth=true&ctid=f2e33951-1ec4-4c72-b2bf-a4f4671d64af&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtYy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9'
IFrame(powerBiEmbed, width=1000, height=600)