In [89]:
import pandas as pd
import sqlite3
import os

In [90]:
db = sqlite3.connect("Monarchs1995.db")

In [91]:
df = pd.read_csv("1995 Season Summary.csv")

        #convert pandas to SQL table
df.to_sql("monarchs1995", db, if_exists="replace")

os.getcwd()

'C:\\Users\\Arink\\Desktop\\github\\CodeLou\\Monarchs\\Data'

In [92]:
schema = pd.read_sql('SELECT * FROM sqlite_master ORDER by name', db)
schema

,type,name,tbl_name,rootpage,sql
0,index,ix_monarchs1995_index,monarchs1995,4,"CREATE INDEX ""ix_monarchs1995_index""ON ""monarc..."
1,table,monarchs1995,monarchs1995,2,"CREATE TABLE ""monarchs1995"" (\n""index"" INTEGER..."

## Checking DataType

In [93]:
data_type = pd.read_sql('SELECT * FROM PRAGMA_TABLE_INFO("monarchs1995")', db)
data_type

    cid             name     type  notnull dflt_value  pk
0     0            index  INTEGER        0       None   0
1     1          Tag No.     TEXT        0       None   0
2     2           Tagger     TEXT        0       None   0
3     3         Mon. Sex     TEXT        0       None   0
4     4     Where Tagged     TEXT        0       None   0
5     5      Date Tagged     TEXT        0       None   0
6     6   Date Recovered     TEXT        0       None   0
7     7  Where Recovered     TEXT        0       None   0
8     8         Observer     TEXT        0       None   0
9     9         Interval     TEXT        0       None   0
10   10            Miles     REAL        0       None   0

### Drop tagger and reporter identification

In [94]:
df.drop(["Tagger", "Mon. Sex", "Observer", "Interval"], axis = 1, inplace = True)
df

,Tag No.,Where Tagged,Date Tagged,Date Recovered,Where Recovered,Miles
0,AU 646,"Keene, NY",19-Sep,Feb-96,"El Rosario colony, \nMexico",2580.0
1,BW 003,"Huntingtown, \nMD",14-Sep,Dec\n1995,"El Rosario\ncolony, Mexico",2285.0
2,AN 008,"West St Paul, MN",4-Sep,1-Mar,"El Rosario\ncolony, Mexico",1990.0
3,AG 802,"Sheldon, IA",NaN,Mar\n1996,"Chinqua, Mexico",1820.0
4,CU 878,"Wamego, KS",23-Sep,Mar-96,"Chinqua, Mexico",1555.0
5,BP 359,"Hays, KS",18-Sep,24-Feb,"Sierra Chinqua, Mexico",1510.0
6,BP 652,"Hays, KS",18-Sep,Mar\n1996,"Chinqua, \nMexico",1510.0
7,BO 299,"Hutchinson, KS",1-Oct,15-Jan,"Herrada or Las Palomas, \nMexico",1500.0
8,CM 355,"Berryville, AR",25-Sep,30-Dec,"El Rosario colony, Mexico",1445.0
9,CJ 954,"Andover, KS",24-Sep,Mar\n1996,"Chinqua, Mexico",1445.0
10,AS 887,"Wichita, KS",23-Sep,Mar\n1996,"Chinqua, Mexico",1440.0
11,AM 907,"Hillsboro, KS",27-Sep,19-Oct,"Carrizo Springs, TX",694.0
12,BH 331,"Cleveland\nHeights, OH",NaN,3-Oct,"Rock\nIsland, IL",465.0
13,AS 610,"Hillsboro, KS",20-Sep,4-Oct,"Waurika, OK",290.0
14,AU 652,"Keene, NY",29-Sep,12-Oct,"Westbrook e, CT",215.0
15,CG 235,"Lawrence, KS",18-Sep,29-Sep,"Arkansas City, KS",162.0
16,AO 022,"Sunapee, NH",NaN,22-Sep,"Wappinger Falls, NY:",152.0
17,CM 577,"Flourtown, PA",12-Oct,27-Oct,"Roxboroug h, PA",115.0
18,BO 125,"Benton, KS",22-Sep,23-Sep,"El Dorado, KS",78.0
19,CK 683,"Salina, KS",20-Sep,25-Sep,"Lyons, KS",46.0
20,CB 809,"Groton, MA",13-Oct,22-Oct,"Worcester, \nMA",27.0
21,BW 716,"Tabernacle, NJ",23-Sep,24-Sep,"Lower South\n.Hampton Township, \nPA",26.0
22,AQ 178,"Maquoketa, IA",9-Sep,16-Sep,"Bellevue State Park Bellevue, IA",17.0
23,AS 039,"Wamego, KS",3-Sep,18-Sep,"Manhattan, KS",15.0
24,204 AD,"Moundridge, KS",17-Sep,27-Sep,"Canton, KS",14.0
25,AF 384,"Minnetonka, \nMN",NaN,19-Oct,"Minneapol\nis, MN",11.0
26,CP694,"Sunnyvale, TX",NaN,7 May\n1996,"Garland, TX",8.0
27,CB 662,"Middletown, NJ",NaN,before\n14 Oct,"Keansburg, NJ",3.0
28,BO 329,"Topeka, KS",23-Sep,26-Sep,"Topeka, KS",2.0
29,BE 018,"Cape May Pt, \nNJ",28-Sep,2-Oct,"Cape May\nPt, NJ",0.0
30,AX 734,"Cape May Pt, NJ",24-Sep,1-Oct,"Cape May, NJ",0.0
31,BE 146,"Cape May Pt, NJ",30-Sep,1-Oct,"Cape May, NJ",0.0
32,AR 216,"Lawrence, KS",26-Sep,NaN,"Lawrence, \nKS",0.0
33,BA402,"Point Lookout, \nMD",28-Sep,1-Oct,"Ridge, \nMD",0.0
34,BR 711,"Lewisburg, WV",13-Sep,6-Sep,"Lewisburg, WV",0.0
35,AB 902,"Mifflinburg, PA",8-Sep,9-Sep,"Mifflin-\nburg, PA",0.0
36,CJ 946,"Andover, KS",24-Sep,25-Sep,"Andover, KS",0.0
37,AQ 103,"St. Cloud, MN",NaN,24-Sep,"St Cloud, \nMN",0.0
38,BN 789,"Salina, KS",17-Sep,20-Sep,"Salina, KS",0.0
39,CH 262,"Austin, TX",21-Sep,28-Sep,"Austin, TX",0.0
40,CW 347,"Wamego, KS",20-Sep,20-Sep,"Wamego, KS",0.0
41,AQ 443,"Clintonville, WI",14-Sep,15-Sep,"Clinton- ville, WI",0.0
42,AR 833,"Wichita, KS",NaN,27-Sep,"Wichita, KS",0.0
43,CI 706,"Olathe, KS",24-Sep,29-Sep,"Olathe, KS",0.0
44,CA512,"Wamego, KS",7-Sep,7-Sep,"Wamego, KS",0.0
45,BD 004,"Stillwater, MN",2-Oct,16-Oct,"Stillwater, \nMN",0.0
46,MJ 356,"Corpus Christi, \nTX",NaN,11-Oct,"Corpus\nChristi, TX",0.0
47,CN 555,"Gaithersburg, MD",NaN,22-Oct,"Gaithers- burg, MD",0.0
48,CQ 903,"Austin, TX",10 May\n1996,12May\n1996,"Austin, TX",0.0
49,AK 132,NaN,NaN,15-Oct,"Oakdale, MN",NaN
50,393 KG,NaN,NaN,18-Aug,"20 miles W of Iowa\nCity, IA",NaN
51,AU 742,NaN,NaN,3-Oct,"Brookline, NH",NaN

### Rename columns to match other years

In [95]:
df.rename(columns={'Date Tagged': 'Tag Date', 'Date Recovered': 'Report Date'}, inplace=True)

### Split & rename combined columns in Tagged category

In [97]:
df.loc[df['Where Tagged'].str.contains("\n", na=False), "Where Tagged"] = df.loc[df['Where Tagged'].str.contains("\n", na=False), "Where Tagged"].str.replace("\n", " ")
df2 = df['Where Tagged'].str.split(', ', expand=True, n=1)
df2.columns = ['tag_city', 'Tag State']
df2['Tag State'] = df2['Tag State'].str.strip()
df2

             tag_city Tag State
0               Keene        NY
1         Huntingtown        MD
2        West St Paul        MN
3             Sheldon        IA
4              Wamego        KS
5                Hays        KS
6                Hays        KS
7          Hutchinson        KS
8          Berryville        AR
9             Andover        KS
10            Wichita        KS
11          Hillsboro        KS
12  Cleveland Heights        OH
13          Hillsboro        KS
14              Keene        NY
15           Lawrence        KS
16            Sunapee        NH
17          Flourtown        PA
18             Benton        KS
19             Salina        KS
20             Groton        MA
21         Tabernacle        NJ
22          Maquoketa        IA
23             Wamego        KS
24         Moundridge        KS
25         Minnetonka        MN
26          Sunnyvale        TX
27         Middletown        NJ
28             Topeka        KS
29        Cape May Pt        NJ
30        Cape May Pt        NJ
31        Cape May Pt        NJ
32           Lawrence        KS
33      Point Lookout        MD
34          Lewisburg        WV
35        Mifflinburg        PA
36            Andover        KS
37          St. Cloud        MN
38             Salina        KS
39             Austin        TX
40             Wamego        KS
41       Clintonville        WI
42            Wichita        KS
43             Olathe        KS
44             Wamego        KS
45         Stillwater        MN
46     Corpus Christi        TX
47       Gaithersburg        MD
48             Austin        TX
49                NaN       NaN
50                NaN       NaN
51                NaN       NaN

### Split & Rename combined columns in Reported category

In [98]:
df.loc[df['Where Recovered'].str.contains("\n", na=False), "Where Recovered"] = df.loc[df['Where Recovered'].str.contains("\n", na=False), "Where Recovered"].str.replace("\n", " ")
df3 = df['Where Recovered'].str.split(', ', expand=True, n=1)
df3.columns = ['report_city', 'Report State']
df3['Report State'] = df3['Report State'].str.strip()
df3.loc[df3['Report State'] == 'Mexico', 'Report State'] = 'Michoacán'
df3

                      report_city Report State
0               El Rosario colony    Michoacán
1               El Rosario colony    Michoacán
2               El Rosario colony    Michoacán
3                         Chinqua    Michoacán
4                         Chinqua    Michoacán
5                  Sierra Chinqua    Michoacán
6                         Chinqua    Michoacán
7          Herrada or Las Palomas    Michoacán
8               El Rosario colony    Michoacán
9                         Chinqua    Michoacán
10                        Chinqua    Michoacán
11                Carrizo Springs           TX
12                    Rock Island           IL
13                        Waurika           OK
14                    Westbrook e           CT
15                  Arkansas City           KS
16                Wappinger Falls          NY:
17                    Roxboroug h           PA
18                      El Dorado           KS
19                          Lyons           KS
20                      Worcester           MA
21  Lower South .Hampton Township           PA
22   Bellevue State Park Bellevue           IA
23                      Manhattan           KS
24                         Canton           KS
25                   Minneapol is           MN
26                        Garland           TX
27                      Keansburg           NJ
28                         Topeka           KS
29                    Cape May Pt           NJ
30                       Cape May           NJ
31                       Cape May           NJ
32                       Lawrence           KS
33                          Ridge           MD
34                      Lewisburg           WV
35                  Mifflin- burg           PA
36                        Andover           KS
37                       St Cloud           MN
38                         Salina           KS
39                         Austin           TX
40                         Wamego           KS
41                 Clinton- ville           WI
42                        Wichita           KS
43                         Olathe           KS
44                         Wamego           KS
45                     Stillwater           MN
46                 Corpus Christi           TX
47                 Gaithers- burg           MD
48                         Austin           TX
49                        Oakdale           MN
50        20 miles W of Iowa City           IA
51                      Brookline           NH

### Create new column Report Country & clean up

In [99]:
add_country = df['Where Recovered'].str.extract("(Mexico)", expand=True)
add_country.columns = ['Report Country']
add_country.loc[add_country['Report Country'] == 'Mexico', 'Report Country'] = 'MEXICO'
add_country.loc[add_country['Report Country'].isnull(), 'Report Country'] = 'USA'
add_country

   Report Country
0          MEXICO
1          MEXICO
2          MEXICO
3          MEXICO
4          MEXICO
5          MEXICO
6          MEXICO
7          MEXICO
8          MEXICO
9          MEXICO
10         MEXICO
11            USA
12            USA
13            USA
14            USA
15            USA
16            USA
17            USA
18            USA
19            USA
20            USA
21            USA
22            USA
23            USA
24            USA
25            USA
26            USA
27            USA
28            USA
29            USA
30            USA
31            USA
32            USA
33            USA
34            USA
35            USA
36            USA
37            USA
38            USA
39            USA
40            USA
41            USA
42            USA
43            USA
44            USA
45            USA
46            USA
47            USA
48            USA
49            USA
50            USA
51            USA

### Create new table with unneeded columns dropped

In [100]:
df4 = pd.concat([df, df2, df3, add_country], axis=1)
df4.drop(['Where Tagged', 'Where Recovered', 'report_city', 'tag_city'], axis=1, inplace=True)
df5 = df4[['Tag No.','Tag State', 'Tag Date', 'Report State', 'Report Country', 'Report Date', 'Miles']]
new_table = df5.copy()
new_table

,Tag No.,Tag State,Tag Date,Report State,Report Country,Report Date,Miles
0,AU 646,NY,19-Sep,Michoacán,MEXICO,Feb-96,2580.0
1,BW 003,MD,14-Sep,Michoacán,MEXICO,Dec\n1995,2285.0
2,AN 008,MN,4-Sep,Michoacán,MEXICO,1-Mar,1990.0
3,AG 802,IA,NaN,Michoacán,MEXICO,Mar\n1996,1820.0
4,CU 878,KS,23-Sep,Michoacán,MEXICO,Mar-96,1555.0
5,BP 359,KS,18-Sep,Michoacán,MEXICO,24-Feb,1510.0
6,BP 652,KS,18-Sep,Michoacán,MEXICO,Mar\n1996,1510.0
7,BO 299,KS,1-Oct,Michoacán,MEXICO,15-Jan,1500.0
8,CM 355,AR,25-Sep,Michoacán,MEXICO,30-Dec,1445.0
9,CJ 954,KS,24-Sep,Michoacán,MEXICO,Mar\n1996,1445.0
10,AS 887,KS,23-Sep,Michoacán,MEXICO,Mar\n1996,1440.0
11,AM 907,KS,27-Sep,TX,USA,19-Oct,694.0
12,BH 331,OH,NaN,IL,USA,3-Oct,465.0
13,AS 610,KS,20-Sep,OK,USA,4-Oct,290.0
14,AU 652,NY,29-Sep,CT,USA,12-Oct,215.0
15,CG 235,KS,18-Sep,KS,USA,29-Sep,162.0
16,AO 022,NH,NaN,NY:,USA,22-Sep,152.0
17,CM 577,PA,12-Oct,PA,USA,27-Oct,115.0
18,BO 125,KS,22-Sep,KS,USA,23-Sep,78.0
19,CK 683,KS,20-Sep,KS,USA,25-Sep,46.0
20,CB 809,MA,13-Oct,MA,USA,22-Oct,27.0
21,BW 716,NJ,23-Sep,PA,USA,24-Sep,26.0
22,AQ 178,IA,9-Sep,IA,USA,16-Sep,17.0
23,AS 039,KS,3-Sep,KS,USA,18-Sep,15.0
24,204 AD,KS,17-Sep,KS,USA,27-Sep,14.0
25,AF 384,MN,NaN,MN,USA,19-Oct,11.0
26,CP694,TX,NaN,TX,USA,7 May\n1996,8.0
27,CB 662,NJ,NaN,NJ,USA,before\n14 Oct,3.0
28,BO 329,KS,23-Sep,KS,USA,26-Sep,2.0
29,BE 018,NJ,28-Sep,NJ,USA,2-Oct,0.0
30,AX 734,NJ,24-Sep,NJ,USA,1-Oct,0.0
31,BE 146,NJ,30-Sep,NJ,USA,1-Oct,0.0
32,AR 216,KS,26-Sep,KS,USA,NaN,0.0
33,BA402,MD,28-Sep,MD,USA,1-Oct,0.0
34,BR 711,WV,13-Sep,WV,USA,6-Sep,0.0
35,AB 902,PA,8-Sep,PA,USA,9-Sep,0.0
36,CJ 946,KS,24-Sep,KS,USA,25-Sep,0.0
37,AQ 103,MN,NaN,MN,USA,24-Sep,0.0
38,BN 789,KS,17-Sep,KS,USA,20-Sep,0.0
39,CH 262,TX,21-Sep,TX,USA,28-Sep,0.0
40,CW 347,KS,20-Sep,KS,USA,20-Sep,0.0
41,AQ 443,WI,14-Sep,WI,USA,15-Sep,0.0
42,AR 833,KS,NaN,KS,USA,27-Sep,0.0
43,CI 706,KS,24-Sep,KS,USA,29-Sep,0.0
44,CA512,KS,7-Sep,KS,USA,7-Sep,0.0
45,BD 004,MN,2-Oct,MN,USA,16-Oct,0.0
46,MJ 356,TX,NaN,TX,USA,11-Oct,0.0
47,CN 555,MD,NaN,MD,USA,22-Oct,0.0
48,CQ 903,TX,10 May\n1996,TX,USA,12May\n1996,0.0
49,AK 132,NaN,NaN,MN,USA,15-Oct,NaN
50,393 KG,NaN,NaN,IA,USA,18-Aug,NaN
51,AU 742,NaN,NaN,NH,USA,3-Oct,NaN

### Final check for unwanted spaces

In [103]:
# new_table.loc[new_table['Report State'].str.contains(r'\s', na=False), 'Report State'].value_counts()
# new_table.loc[new_table['Tag State'].str.contains(r'\s', na=False), 'Tag State'].value_counts()
# new_table.loc[new_table['Tag No.'].str.contains(r'\s', na=False), 'Tag No.'].value_counts()
# new_table.loc[new_table['Report Country'].str.contains(r'\s', na=False), 'Report Country'].value_counts()

Series([], Name: Report Country, dtype: int64)

### Convert date columns to DateTime datatypes

In [104]:
new_table["Tag Date"]= pd.to_datetime(new_table["Tag Date"]) 
new_table["Report Date"]= pd.to_datetime(new_table["Report Date"]) 
new_table.dtypes

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-09-19 00:00:00

In [34]:
del df2, df3, df4, df5, add_country

### Export cleaned data to csv.

In [35]:
#new_table.to_csv("Monarchs1995.csv")